Repository espressif/kicad-libraries, pull requests merged in 2024-02, with the labels that each got.

#147 Esp32 c3 devkitc 02
  footprints/Espressif.pretty/ESP32-C3-DevKitC-02.kicad_mod
  symbols/Espressif.kicad_sym
Labels: new symbol, new footprint

#150 Add ESP32-C6-WROOM-1U
  README.md
  footprints/Espressif.pretty/ESP32-C6-WROOM-1U.kicad_mod
  symbols/Espressif.kicad_sym
Labels: new footprint

#148 Add ESP8685-WROOM-06 schematic symbol and footprint
  README.md
  footprints/Espressif.pretty/ESP8685-WROOM-06.kicad_mod
  symbols/Espressif.kicad_sym
Labels: new symbol, new footprint

#154 Update to support KiCad 8
  README.md
  footprints/Espressif.pretty/ESP32-C3-MINI-1.kicad_mod
  footprints/Espressif.pretty/ESP32-C3-MINI-1U.kicad_mod
  footprints/Espressif.pretty/ESP32-C3-MINI-1_HandSoldering.kicad_mod
  footprints/Espressif.pretty/ESP32-C3-WROOM-02.kicad_mod
  footprints/Espressif.pretty/ESP32-C3-WROOM-02U.kicad_mod
  footprints/Espressif.pretty/ESP32-C6-MINI-1.kicad_mod
  footprints/Espressif.pretty/ESP32-C6-MINI-1U.kicad_mod
  footprints/Espressif.pretty/ESP32-C6-WROOM-1.kicad_mod
  footprints/Espressif.pretty/ESP32-H2-MINI-1.kicad_mod
  footprints/Espressif.pretty/ESP32-MINI-1.kicad_mod
  footprints/Espressif.pretty/ESP32-PICO-MINI-02_HandSoldering.kicad_mod
  footprints/Espressif.pretty/ESP32-S2-MINI-1.kicad_mod
  footprints/Espressif.pretty/ESP32-S2-MINI-1U.kicad_mod
  footprints/Espressif.pretty/ESP32-S2-MINI-1_HandSoldering.kicad_mod
  footprints/Espressif.pretty/ESP32-S2-SOLO-2U.kicad_mod
  footprints/Espressif.pretty/ESP32-S2-SOLO.kicad_mod
  footprints/Espressif.pretty/ESP32-S2-WROOM.kicad_mod
  footprints/Espressif.pretty/ESP32-S2-WROVER.kicad_mod
  footprints/Espressif.pretty/ESP32-S3-MINI-1.kicad_mod
  footprints/Espressif.pretty/ESP32-S3-MINI-1U.kicad_mod
  footprints/Espressif.pretty/ESP32-S3-WROOM-1.kicad_mod
  footprints/Espressif.pretty/ESP32-S3-WROOM-1U.kicad_mod
  footprints/Espressif.pretty/ESP32-S3-WROOM-2.kicad_mod
  footprints/Espressif.pretty/ESP32-WROOM-32E.kicad_mod
  footprints/Espressif.pretty/ESP32-WROOM-32UE.kicad_mod
  footprints/Espressif.pretty/ESP32-WROVER-E.kicad_mod
  footprints/Espressif.pretty/ESP32-WROVER-E_ThermalVias.kicad_mod
Labels: enhancement
